.btn-primary {
  color: #ffffff;
  background: #375a7f;
  background-color: #375a7f;
  border-color: #375a7f;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background: #375a7f;
  background-color: #28415b;
  border-color: #101b26;
}
.btn-primary:hover {
  color: #ffffff;
  background: #375a7f;
  background-color: #28415b;
  border-color: #253c54;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background: #375a7f;
  background-color: #28415b;
  background-image: none;
  border-color: #253c54;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background: #375a7f;
  background-color: #1d2f43;
  border-color: #101b26;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background: #375a7f;
  background-color: #375a7f;
  border-color: #375a7f;
}
.btn-primary .badge {
  color: #375a7f;
  background: #375a7f;
  background-color: #ffffff;
}